@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woffOpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {  
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woffOpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woffOpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-Bold.woffOpenSansCondensed-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woffOpenSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-Bold.woffOpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woffOpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}